
#AREA_GROUP "AG_body/logic_analyzer" RANGE = SLICE_X52Y191:SLICE_X71Y172 ;
#AREA_GROUP "AG_body/main_ram" RANGE = SLICE_X94Y157:SLICE_X103Y124 ;
#AREA_GROUP "AG_body/shared_sram" RANGE = SLICE_X84Y117:SLICE_X89Y112 ;
#AREA_GROUP "AG_body/apb" RANGE = SLICE_X0Y149:SLICE_X25Y120 ;
#AREA_GROUP "AG_body/gip/data_ram" RANGE = SLICE_X82Y129:SLICE_X93Y120 ;
#AREA_GROUP "AG_body/gip/gip" RANGE = SLICE_X26Y157:SLICE_X81Y86 ;
#AREA_GROUP "AG_body/gip/gip_apb" RANGE = SLICE_X14Y157:SLICE_X25Y150 ;
#AREA_GROUP "AG_body/gip/prefetch" RANGE = SLICE_X82Y167:SLICE_X93Y130 ;
#AREA_GROUP "AG_body/post_route" RANGE = SLICE_X48Y83:SLICE_X55Y58 ;
#AREA_GROUP "AG_body/iob_a" RANGE = SLICE_X56Y85:SLICE_X103Y38 ;
#AREA_GROUP "AG_body/iob_b" RANGE = SLICE_X0Y85:SLICE_X47Y38 ;
#AREA_GROUP "AG_body/ios_a" RANGE = SLICE_X52Y23:SLICE_X103Y0 ;
#AREA_GROUP "AG_body/ios_b" RANGE = SLICE_X32Y23:SLICE_X47Y6 ;

#INST "body/apb" AREA_GROUP = "AG_body/apb" ;
#INST "body/gip/data_ram" AREA_GROUP = "AG_body/gip/data_ram" ;
#INST "body/gip/gip" AREA_GROUP = "AG_body/gip/gip" ;
#INST "body/gip/gip_apb" AREA_GROUP = "AG_body/gip/gip_apb" ;
#INST "body/gip/prefetch" AREA_GROUP = "AG_body/gip/prefetch" ;
#INST "body/iob_a" AREA_GROUP = "AG_body/iob_a" ;
#INST "body/iob_b" AREA_GROUP = "AG_body/iob_b" ;
#INST "body/ios_a" AREA_GROUP = "AG_body/ios_a" ;
#INST "body/ios_b" AREA_GROUP = "AG_body/ios_b" ;
#INST "body/logic_analyzer" AREA_GROUP = "AG_body/logic_analyzer" ;
#INST "body/main_ram" AREA_GROUP = "AG_body/main_ram" ;
#INST "body/post_route" AREA_GROUP = "AG_body/post_route" ;
#INST "body/shared_sram" AREA_GROUP = "AG_body/shared_sram" ;
#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments

#PACE: Start of PACE Area Constraints
AREA_GROUP "AG_body/apb" RANGE = SLICE_X76Y105:SLICE_X101Y80 ;
INST "body/apb" AREA_GROUP = "AG_body/apb" ;
AREA_GROUP "AG_body/gip/gip/alu" RANGE = SLICE_X0Y153:SLICE_X35Y116 ;
INST "body/gip/gip/alu" AREA_GROUP = "AG_body/gip/gip/alu" ;
AREA_GROUP "AG_body/gip/gip/decode" RANGE = SLICE_X44Y191:SLICE_X79Y156 ;
INST "body/gip/gip/decode" AREA_GROUP = "AG_body/gip/gip/decode" ;
AREA_GROUP "AG_body/gip/gip/memory" RANGE = SLICE_X80Y159:SLICE_X83Y156 ;
INST "body/gip/gip/memory" AREA_GROUP = "AG_body/gip/gip/memory" ;
AREA_GROUP "AG_body/gip/gip/postbus" RANGE = SLICE_X24Y191:SLICE_X43Y170 ;
INST "body/gip/gip/postbus" AREA_GROUP = "AG_body/gip/gip/postbus" ;
AREA_GROUP "AG_body/gip/gip/rf" RANGE = SLICE_X0Y191:SLICE_X23Y166 ;
INST "body/gip/gip/rf" AREA_GROUP = "AG_body/gip/gip/rf" ;
AREA_GROUP "AG_body/gip/gip/scheduler" RANGE = SLICE_X24Y169:SLICE_X43Y156 ;
INST "body/gip/gip/scheduler" AREA_GROUP = "AG_body/gip/gip/scheduler" ;
AREA_GROUP "AG_body/gip/gip/special" RANGE = SLICE_X0Y165:SLICE_X23Y154 ;
INST "body/gip/gip/special" AREA_GROUP = "AG_body/gip/gip/special" ;
AREA_GROUP "AG_body/iob_b" RANGE = SLICE_X44Y53:SLICE_X91Y6 ;
INST "body/iob_b" AREA_GROUP = "AG_body/iob_b" ;
AREA_GROUP "AG_body/ios_a" RANGE = SLICE_X6Y43:SLICE_X41Y6 ;
INST "body/ios_a" AREA_GROUP = "AG_body/ios_a" ;
AREA_GROUP "AG_body/ios_b" RANGE = SLICE_X112Y19:SLICE_X127Y2 ;
INST "body/ios_b" AREA_GROUP = "AG_body/ios_b" ;

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
