NET "bus_a<0>"  LOC = "AE20"  ; 
NET "bus_a<1>"  LOC = "AE18"  ; 
NET "bus_a<2>"  LOC = "AE17"  ; 
NET "bus_a<3>"  LOC = "AE16"  ; 
NET "bus_a<4>"  LOC = "AE15"  ; 
NET "bus_a<5>"  LOC = "AC19"  ; 
NET "bus_a<6>"  LOC = "AC18"  ; 
NET "bus_a<7>"  LOC = "AC17"  ; 
NET "bus_a<8>"  LOC = "AC16"  ; 
NET "bus_a<9>"  LOC = "AC14"  ; 
NET "bus_a<10>"  LOC = "AB19"  ; 
NET "bus_a<11>"  LOC = "AE19"  ; 
NET "bus_a<12>"  LOC = "AB17"  ; 
NET "bus_a<13>"  LOC = "AB16"  ; 
NET "bus_a<14>"  LOC = "AB15"  ; 
NET "bus_a<15>"  LOC = "AB14"  ; 
NET "bus_a<16>"  LOC = "AA19"  ; 
NET "bus_a<17>"  LOC = "AA18"  ; 
NET "bus_a<18>"  LOC = "AA17"  ; 
NET "bus_a<19>"  LOC = "AA16"  ; 
NET "bus_a<20>"  LOC = "AA15"  ; 
NET "bus_a<21>"  LOC = "AA14"  ; 
NET "bus_a<22>"  LOC = "AB18"  ; 
NET "bus_a<23>"  LOC = "Y18"  ; 
NET "bus_a<24>"  LOC = "Y17"  ; 
NET "bus_a<25>"  LOC = "Y19"  ; 
NET "bus_a<26>"  LOC = "Y16"  ; 
NET "bus_a<27>"  LOC = "Y15"  ; 
NET "bus_a<28>"  LOC = "Y14"  ; 
NET "bus_a<29>"  LOC = "W16"  ; 
NET "bus_a<30>"  LOC = "W15"  ; 
NET "bus_a<31>"  LOC = "W14"  ; 
NET "bus_b<0>"  LOC = "U7"  ; 
NET "bus_b<1>"  LOC = "T7"  ; 
NET "bus_b<2>"  LOC = "R7"  ; 
NET "bus_b<3>"  LOC = "P7"  ; 
NET "bus_b<4>"  LOC = "V4"  ; 
NET "bus_b<5>"  LOC = "U4"  ; 
NET "bus_b<6>"  LOC = "T4"  ; 
NET "bus_b<7>"  LOC = "AA4"  ; 
NET "bus_b<8>"  LOC = "Y4"  ; 
NET "bus_b<9>"  LOC = "W4"  ; 
NET "bus_b<10>"  LOC = "W3"  ; 
NET "bus_b<11>"  LOC = "U3"  ; 
NET "bus_b<12>"  LOC = "AA5"  ; 
NET "bus_b<13>"  LOC = "Y5"  ; 
NET "bus_b<14>"  LOC = "W5"  ; 
NET "bus_b<15>"  LOC = "V5"  ; 
NET "bus_b<16>"  LOC = "U5"  ; 
NET "bus_b<17>"  LOC = "T5"  ; 
NET "bus_b<18>"  LOC = "R5"  ; 
NET "bus_b<19>"  LOC = "P5"  ; 
NET "bus_b<20>"  LOC = "AD1"  ; 
NET "bus_b<21>"  LOC = "V3"  ; 
NET "bus_b<22>"  LOC = "AB1"  ; 
NET "bus_b<23>"  LOC = "AA1"  ; 
NET "bus_b<24>"  LOC = "Y1"  ; 
NET "bus_b<25>"  LOC = "W1"  ; 
NET "bus_b<26>"  LOC = "AD2"  ; 
NET "bus_b<27>"  LOC = "AC2"  ; 
NET "bus_b<28>"  LOC = "AB2"  ; 
NET "bus_b<29>"  LOC = "AA2"  ; 
NET "bus_b<30>"  LOC = "Y2"  ; 
NET "bus_b<31>"  LOC = "W2"  ; 
NET "bus_c<0>"  LOC = "AC1"  ; 
NET "bus_c<1>"  LOC = "U2"  ; 
NET "bus_c<2>"  LOC = "T2"  ; 
NET "bus_c<3>"  LOC = "V2"  ; 
NET "bus_c<4>"  LOC = "R2"  ; 
NET "bus_c<5>"  LOC = "P2"  ; 
NET "bus_c<6>"  LOC = "U1"  ; 
NET "bus_c<7>"  LOC = "T1"  ; 
NET "bus_c<8>"  LOC = "R1"  ; 
NET "bus_c<9>"  LOC = "P1"  ; 
NET "bus_c<10>"  LOC = "U6"  ; 
NET "bus_c<11>"  LOC = "D18"  ; 
NET "bus_c<12>"  LOC = "B18"  ; 
NET "bus_c<13>"  LOC = "G17"  ; 
NET "bus_c<14>"  LOC = "F17"  ; 
NET "bus_c<15>"  LOC = "E17"  ; 
NET "bus_c<16>"  LOC = "D17"  ; 
NET "bus_c<17>"  LOC = "C17"  ; 
NET "bus_c<18>"  LOC = "B17"  ; 
NET "bus_c<19>"  LOC = "A17"  ; 
NET "bus_c<20>"  LOC = "H16"  ; 
NET "bus_c<21>"  LOC = "G16"  ; 
NET "bus_c<22>"  LOC = "C18"  ; 
NET "bus_c<23>"  LOC = "E16"  ; 
NET "bus_c<24>"  LOC = "D16"  ; 
NET "bus_c<25>"  LOC = "B16"  ; 
NET "bus_c<26>"  LOC = "A16"  ; 
NET "bus_c<27>"  LOC = "H15"  ; 
NET "bus_c<28>"  LOC = "G15"  ; 
NET "bus_c<29>"  LOC = "F15"  ; 
NET "bus_c<30>"  LOC = "E15"  ; 
NET "bus_c<31>"  LOC = "C15"  ; 
NET "bus_d<0>"  LOC = "B15"  ; 
NET "bus_d<1>"  LOC = "F16"  ; 
NET "bus_d<2>"  LOC = "H14"  ; 
NET "bus_d<3>"  LOC = "G14"  ; 
NET "bus_d<4>"  LOC = "A15"  ; 
NET "bus_d<5>"  LOC = "F14"  ; 
NET "bus_d<6>"  LOC = "E14"  ; 
NET "bus_d<7>"  LOC = "D14"  ; 
NET "bus_d<8>"  LOC = "C14"  ; 
NET "bus_d<9>"  LOC = "B14"  ; 
NET "bus_d<10>"  LOC = "A14"  ; 
NET "bus_d<11>"  LOC = "T6"  ; 
NET "bus_d<12>"  LOC = "R8"  ; 
NET "bus_d<13>"  LOC = "N24"  ; 
NET "bus_d<14>"  LOC = "M24"  ; 
NET "bus_d<15>"  LOC = "J24"  ; 
NET "bus_d<16>"  LOC = "F24"  ; 
NET "bus_d<17>"  LOC = "E24"  ; 
NET "bus_d<18>"  LOC = "L23"  ; 
NET "bus_d<19>"  LOC = "K23"  ; 
NET "bus_d<20>"  LOC = "J23"  ; 
NET "bus_d<21>"  LOC = "H23"  ; 
NET "bus_d<22>"  LOC = "G23"  ; 
NET "bus_d<23>"  LOC = "F23"  ; 
NET "bus_d<24>"  LOC = "E23"  ; 
NET "bus_d<25>"  LOC = "N25"  ; 
NET "bus_d<26>"  LOC = "H24"  ; 
NET "bus_d<27>"  LOC = "L25"  ; 
NET "bus_d<28>"  LOC = "K25"  ; 
NET "bus_d<29>"  LOC = "J25"  ; 
NET "bus_d<30>"  LOC = "H25"  ; 
NET "bus_d<31>"  LOC = "G25"  ; 
NET "bus_e<0>"  LOC = "F25"  ; 
NET "bus_e<1>"  LOC = "E25"  ; 
NET "bus_e<2>"  LOC = "D25"  ; 
NET "bus_e<3>"  LOC = "C25"  ; 
NET "bus_e<4>"  LOC = "N26"  ; 
NET "bus_e<5>"  LOC = "M25"  ; 
NET "bus_e<6>"  LOC = "L26"  ; 
NET "bus_e<7>"  LOC = "K26"  ; 
NET "bus_e<8>"  LOC = "M26"  ; 
NET "bus_e<9>"  LOC = "H26"  ; 
NET "bus_e<10>"  LOC = "G26"  ; 
NET "bus_e<11>"  LOC = "F26"  ; 
NET "bus_e<12>"  LOC = "E26"  ; 
NET "bus_e<13>"  LOC = "D26"  ; 
NET "bus_e<14>"  LOC = "C26"  ; 
NET "bus_e<15>"  LOC = "P6"  ; 
NET "bus_e<16>"  LOC = "R6"  ; 
NET "bus_e<17>"  LOC = "T22"  ; 
NET "bus_e<18>"  LOC = "P22"  ; 
NET "bus_e<19>"  LOC = "AF21"  ; 
NET "bus_e<20>"  LOC = "AE21"  ; 
NET "bus_e<21>"  LOC = "AD21"  ; 
NET "bus_e<22>"  LOC = "AC21"  ; 
NET "bus_e<23>"  LOC = "AB21"  ; 
NET "bus_e<24>"  LOC = "AA21"  ; 
NET "bus_e<25>"  LOC = "Y21"  ; 
NET "bus_e<26>"  LOC = "W21"  ; 
NET "bus_e<27>"  LOC = "V21"  ; 
NET "bus_e<28>"  LOC = "R22"  ; 
NET "bus_e<29>"  LOC = "T21"  ; 
NET "bus_e<30>"  LOC = "R21"  ; 
NET "bus_e<31>"  LOC = "P21"  ; 
NET "bus_f<0>"  LOC = "W24"  ; 
NET "bus_f<1>"  LOC = "V24"  ; 
NET "bus_f<2>"  LOC = "U24"  ; 
NET "bus_f<3>"  LOC = "T23"  ; 
NET "bus_f<4>"  LOC = "AF22"  ; 
NET "bus_f<5>"  LOC = "AE22"  ; 
NET "bus_f<6>"  LOC = "AD22"  ; 
NET "bus_f<7>"  LOC = "AC22"  ; 
NET "bus_f<8>"  LOC = "P25"  ; 
NET "bus_f<9>"  LOC = "AA22"  ; 
NET "bus_f<10>"  LOC = "Y22"  ; 
NET "bus_f<11>"  LOC = "AB22"  ; 
NET "bus_f<12>"  LOC = "W22"  ; 
NET "bus_f<13>"  LOC = "V22"  ; 
NET "bus_f<14>"  LOC = "U22"  ; 
NET "bus_f<15>"  LOC = "R24"  ; 
NET "bus_f<16>"  LOC = "P24"  ; 
NET "bus_f<17>"  LOC = "P23"  ; 
NET "bus_f<18>"  LOC = "R19"  ; 
NET "bus_f<19>"  LOC = "P19"  ; 
NET "bus_f<20>"  LOC = "L8"  ; 
NET "bus_f<21>"  LOC = "N7"  ; 
NET "bus_f<22>"  LOC = "M7"  ; 
NET "bus_f<23>"  LOC = "L7"  ; 
NET "bus_f<24>"  LOC = "K7"  ; 
NET "bus_f<25>"  LOC = "J7"  ; 
NET "bus_f<26>"  LOC = "H7"  ; 
NET "bus_f<27>"  LOC = "G7"  ; 
NET "bus_f<28>"  LOC = "N6"  ; 
NET "bus_f<29>"  LOC = "M6"  ; 
NET "bus_f<30>"  LOC = "L6"  ; 
NET "bus_f<31>"  LOC = "K6"  ; 
NET "io_0"  LOC = "AC20"  ; 
NET "io_1"  LOC = "AB20"  ; 
NET "io_2"  LOC = "AA20"  ; 
NET "io_3"  LOC = "Y20"  ; 
NET "io_4"  LOC = "W20"  ; 
NET "io_5"  LOC = "V20"  ; 
NET "io_6"  LOC = "U20"  ; 
NET "io_7"  LOC = "U21"  ; 
NET "io_8"  LOC = "R20"  ; 
NET "io_9"  LOC = "P20"  ; 
NET "io_10"  LOC = "T20"  ; 
NET "io_11"  LOC = "AB23"  ; 
NET "io_12"  LOC = "AA23"  ; 
NET "io_13"  LOC = "Y23"  ; 
NET "io_14"  LOC = "W23"  ; 
NET "io_15"  LOC = "V23"  ; 
NET "io_16"  LOC = "U23"  ; 
NET "io_17"  LOC = "U26"  ; 
NET "io_18"  LOC = "T26"  ; 
NET "io_19"  LOC = "R26"  ; 
NET "io_20"  LOC = "AD25"  ; 
NET "io_21"  LOC = "AC25"  ; 
NET "io_22"  LOC = "AB25"  ; 
NET "io_23"  LOC = "AA25"  ; 
NET "io_24"  LOC = "Y25"  ; 
NET "io_25"  LOC = "W25"  ; 
NET "io_26"  LOC = "V25"  ; 
NET "io_27"  LOC = "U25"  ; 
NET "io_28"  LOC = "T25"  ; 
NET "io_29"  LOC = "R25"  ; 
NET "io_30"  LOC = "P26"  ; 
NET "io_31"  LOC = "AB24"  ; 
NET "io_32"  LOC = "AA24"  ; 
NET "io_33"  LOC = "J6"  ; 
NET "io_34"  LOC = "H6"  ; 
NET "io_35"  LOC = "F6"  ; 
NET "io_36"  LOC = "N5"  ; 
NET "io_37"  LOC = "M5"  ; 
NET "io_38"  LOC = "L5"  ; 
NET "io_39"  LOC = "K5"  ; 
NET "io_40"  LOC = "J5"  ; 
NET "io_41"  LOC = "H5"  ; 
NET "io_42"  LOC = "G5"  ; 
NET "io_43"  LOC = "F5"  ; 
NET "io_44"  LOC = "K3"  ; 
NET "io_45"  LOC = "G6"  ; 
NET "io_46"  LOC = "H3"  ; 
NET "io_47"  LOC = "L4"  ; 
NET "io_48"  LOC = "K4"  ; 
NET "io_49"  LOC = "J4"  ; 
NET "io_50"  LOC = "H4"  ; 
NET "io_51"  LOC = "G4"  ; 
NET "io_52"  LOC = "F4"  ; 
NET "io_53"  LOC = "E4"  ; 
NET "io_54"  LOC = "F3"  ; 
NET "io_55"  LOC = "E3"  ; 
NET "io_56"  LOC = "J3"  ; 
NET "io_57"  LOC = "M2"  ; 
NET "io_58"  LOC = "L2"  ; 
NET "io_59"  LOC = "N2"  ; 
NET "io_60"  LOC = "K2"  ; 
NET "io_61"  LOC = "J2"  ; 
NET "io_62"  LOC = "H2"  ; 
NET "io_63"  LOC = "G2"  ; 
NET "io_64"  LOC = "F2"  ; 
NET "io_65"  LOC = "E2"  ; 
NET "io_66"  LOC = "D2"  ; 
NET "io_67"  LOC = "A6"  ; 
NET "io_68"  LOC = "A3"  ; 

NET "leds<0>"  LOC = "D5"  ; 
NET "leds<1>"  LOC = "C5"  ; 
NET "leds<2>"  LOC = "B5"  ; 
NET "leds<3>"  LOC = "A5"  ; 
NET "leds<4>"  LOC = "C4"  ; 
NET "leds<5>"  LOC = "B4"  ; 
NET "leds<6>"  LOC = "A4"  ; 
NET "leds<7>"  LOC = "B3"  ; 
NET "switches<0>"  LOC = "M1"  ; 
NET "switches<1>"  LOC = "L1"  ; 
NET "switches<2>"  LOC = "K1"  ; 
NET "switches<3>"  LOC = "H1"  ; 
NET "switches<4>"  LOC = "G1"  ; 
NET "switches<5>"  LOC = "F1"  ; 
NET "switches<6>"  LOC = "E1"  ; 
NET "switches<7>"  LOC = "D1"  ; 
NET "system_clock_in"  LOC = "AD13"  ; 

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
