#NET "fetch_16" LOC = "AF3"   | IOSTANDARD = "LVTTL";
#NET "gip_pipeline_flush"  LOC = "AF4"   | IOSTANDARD = "LVTTL";
#    output fetch_16;
#    output[1:0] fetch_op;
#    output[1:0] prefetch_op;
#    output[31:0] prefetch_address_32;
#    output fetch_flush;
#    input[31:0] fetch_data_32;
#    input fetch_data_valid;
#    input[31:0] fetch_pc_32;
#
#    //b RF interface
#    output rfr_periph_read;
#    output rfr_periph_read_global;
#    output[4:0] rfr_periph_read_address_5;
#    output rfw_periph_write;
#    output rfw_periph_write_global;
#    output[4:0] rfw_periph_write_address_5;
#    output[31:0] rfw_periph_write_data_32;
#    output gip_pipeline_flush;
#
#    //b Postbus interface
#    output[1:0] postbus_tx_type_2;
#    output[31:0] postbus_tx_data_32;
#    output postbus_rx_ack;
#
#    //b Memory interface
#    output[2:0] alu_mem_op_3;
#    output[2:0] alu_mem_options_3;
#    output[31:0] alu_mem_address_32;
#    output[31:0] alu_mem_write_data_32;
#    output[3:0] alu_mem_burst_4;
#NET "alu_mem_address_32[0]"  LOC = "J26"  ;
#NET "alu_mem_burst_4[0]"  LOC = "B23"  ;
#NET "alu_mem_op_3[0]"  LOC = "A21"  ;
#NET "alu_mem_options_3[0]"  LOC = "F23"  ;
#NET "alu_mem_write_data_32[0]"  LOC = "D21"  ;
#NET "fetch_data_32[0]"  LOC = "F4"  ;
#NET "fetch_op[0]"  LOC = "L3"  ;
#NET "fetch_pc_32[0]"  LOC = "N3"  ;
#NET "postbus_tx_data_32[0]"  LOC = "AB23"  ;
#NET "postbus_tx_type_2[0]"  LOC = "P24"  ;
#NET "prefetch_address_32[0]"  LOC = "T24"  ;
#NET "prefetch_op[0]"  LOC = "D22"  ;
#NET "rfr_periph_read_address_5[0]"  LOC = "B18"  ;
#NET "rfw_periph_write_address_5[0]"  LOC = "E18"  ;
#NET "rfw_periph_write_data_32[0]"  LOC = "AA14"  ;
#####NET "system_clock_in" LOC = "C13" | IOSTANDARD = "LVCMOS33";
#####
#####NET "switches[0]" LOC = "R7" | IOSTANDARD = "LVCMOS25";
#####NET "switches<1>" LOC = "T6" | IOSTANDARD = "LVCMOS25";
#####NET "switches<2>" LOC = "U3" | IOSTANDARD = "LVCMOS25";
#####NET "switches<3>" LOC = "U4" | IOSTANDARD = "LVCMOS25";
#####NET "switches<4>" LOC = "V4" | IOSTANDARD = "LVCMOS25";
#####NET "switches<5>" LOC = "M8" | IOSTANDARD = "LVCMOS25";
#####NET "switches<6>" LOC = "L8" | IOSTANDARD = "LVCMOS25";
#####NET "switches<7>" LOC = "H20" | IOSTANDARD = "LVCMOS25";
#####
#####NET "rxd"         LOC = "AC1"   | IOSTANDARD = "LVTTL";
#####NET "txd"         LOC = "AB1"   | IOSTANDARD = "LVTTL";
#####
#####NET "leds[0]" LOC = "AF3"   | IOSTANDARD = "LVTTL";
#####NET "leds<1>" LOC = "AF4"   | IOSTANDARD = "LVTTL";
#####NET "leds<2>" LOC = "AE4"   | IOSTANDARD = "LVTTL";
#####NET "leds<3>" LOC = "AD5"   | IOSTANDARD = "LVTTL";
#####NET "leds<4>" LOC = "AE6"   | IOSTANDARD = "LVTTL";
#####NET "leds<5>" LOC = "AF6"   | IOSTANDARD = "LVTTL";
#####NET "leds<6>" LOC = "AD6"   | IOSTANDARD = "LVTTL";
#####NET "leds<7>" LOC = "AC6"   | IOSTANDARD = "LVTTL";
#####
######NET "fetch_16" LOC = "AF3"   | IOSTANDARD = "LVTTL";
######NET "gip_pipeline_flush"  LOC = "AF4"   | IOSTANDARD = "LVTTL";
######    output fetch_16;
######    output[1:0] fetch_op;
######    output[1:0] prefetch_op;
######    output[31:0] prefetch_address_32;
######    output fetch_flush;
######    input[31:0] fetch_data_32;
######    input fetch_data_valid;
######    input[31:0] fetch_pc_32;
######
######    //b RF interface
######    output rfr_periph_read;
######    output rfr_periph_read_global;
######    output[4:0] rfr_periph_read_address_5;
######    output rfw_periph_write;
######    output rfw_periph_write_global;
######    output[4:0] rfw_periph_write_address_5;
######    output[31:0] rfw_periph_write_data_32;
######    output gip_pipeline_flush;
######
######    //b Postbus interface
######    output[1:0] postbus_tx_type_2;
######    output[31:0] postbus_tx_data_32;
######    output postbus_rx_ack;
######
######    //b Memory interface
######    output[2:0] alu_mem_op_3;
######    output[2:0] alu_mem_options_3;
######    output[31:0] alu_mem_address_32;
######    output[31:0] alu_mem_write_data_32;
######    output[3:0] alu_mem_burst_4;
#####

#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "alu_mem_address_32<0>"  LOC = "AE20"  ; 
NET "alu_mem_address_32<10>"  LOC = "AE18"  ; 
NET "alu_mem_address_32<11>"  LOC = "AE17"  ; 
NET "alu_mem_address_32<12>"  LOC = "AE16"  ; 
NET "alu_mem_address_32<13>"  LOC = "AE15"  ; 
NET "alu_mem_address_32<14>"  LOC = "AC19"  ; 
NET "alu_mem_address_32<15>"  LOC = "AC18"  ; 
NET "alu_mem_address_32<16>"  LOC = "AC17"  ; 
NET "alu_mem_address_32<17>"  LOC = "AC16"  ; 
NET "alu_mem_address_32<18>"  LOC = "AC14"  ; 
NET "alu_mem_address_32<19>"  LOC = "AB19"  ; 
NET "alu_mem_address_32<1>"  LOC = "AE19"  ; 
NET "alu_mem_address_32<20>"  LOC = "AB17"  ; 
NET "alu_mem_address_32<21>"  LOC = "AB16"  ; 
NET "alu_mem_address_32<22>"  LOC = "AB15"  ; 
NET "alu_mem_address_32<23>"  LOC = "AB14"  ; 
NET "alu_mem_address_32<24>"  LOC = "AA19"  ; 
NET "alu_mem_address_32<25>"  LOC = "AA18"  ; 
NET "alu_mem_address_32<26>"  LOC = "AA17"  ; 
NET "alu_mem_address_32<27>"  LOC = "AA16"  ; 
NET "alu_mem_address_32<28>"  LOC = "AA15"  ; 
NET "alu_mem_address_32<29>"  LOC = "AA14"  ; 
NET "alu_mem_address_32<2>"  LOC = "AB18"  ; 
NET "alu_mem_address_32<30>"  LOC = "Y18"  ; 
NET "alu_mem_address_32<31>"  LOC = "Y17"  ; 
NET "alu_mem_address_32<3>"  LOC = "Y19"  ; 
NET "alu_mem_address_32<4>"  LOC = "Y16"  ; 
NET "alu_mem_address_32<5>"  LOC = "Y15"  ; 
NET "alu_mem_address_32<6>"  LOC = "Y14"  ; 
NET "alu_mem_address_32<7>"  LOC = "W16"  ; 
NET "alu_mem_address_32<8>"  LOC = "W15"  ; 
NET "alu_mem_address_32<9>"  LOC = "W14"  ; 
NET "alu_mem_burst_4<0>"  LOC = "U7"  ; 
NET "alu_mem_burst_4<1>"  LOC = "T7"  ; 
NET "alu_mem_burst_4<2>"  LOC = "R7"  ; 
NET "alu_mem_burst_4<3>"  LOC = "P7"  ; 
NET "alu_mem_op_3<0>"  LOC = "V4"  ; 
NET "alu_mem_op_3<1>"  LOC = "U4"  ; 
NET "alu_mem_op_3<2>"  LOC = "T4"  ; 
NET "alu_mem_options_3<0>"  LOC = "AA4"  ; 
NET "alu_mem_options_3<1>"  LOC = "Y4"  ; 
NET "alu_mem_options_3<2>"  LOC = "W4"  ; 
NET "alu_mem_write_data_32<0>"  LOC = "W3"  ; 
NET "alu_mem_write_data_32<10>"  LOC = "U3"  ; 
NET "alu_mem_write_data_32<11>"  LOC = "AA5"  ; 
NET "alu_mem_write_data_32<12>"  LOC = "Y5"  ; 
NET "alu_mem_write_data_32<13>"  LOC = "W5"  ; 
NET "alu_mem_write_data_32<14>"  LOC = "V5"  ; 
NET "alu_mem_write_data_32<15>"  LOC = "U5"  ; 
NET "alu_mem_write_data_32<16>"  LOC = "T5"  ; 
NET "alu_mem_write_data_32<17>"  LOC = "R5"  ; 
NET "alu_mem_write_data_32<18>"  LOC = "P5"  ; 
NET "alu_mem_write_data_32<19>"  LOC = "AD1"  ; 
NET "alu_mem_write_data_32<1>"  LOC = "V3"  ; 
NET "alu_mem_write_data_32<20>"  LOC = "AB1"  ; 
NET "alu_mem_write_data_32<21>"  LOC = "AA1"  ; 
NET "alu_mem_write_data_32<22>"  LOC = "Y1"  ; 
NET "alu_mem_write_data_32<23>"  LOC = "W1"  ; 
NET "alu_mem_write_data_32<24>"  LOC = "AD2"  ; 
NET "alu_mem_write_data_32<25>"  LOC = "AC2"  ; 
NET "alu_mem_write_data_32<26>"  LOC = "AB2"  ; 
NET "alu_mem_write_data_32<27>"  LOC = "AA2"  ; 
NET "alu_mem_write_data_32<28>"  LOC = "Y2"  ; 
NET "alu_mem_write_data_32<29>"  LOC = "W2"  ; 
NET "alu_mem_write_data_32<2>"  LOC = "AC1"  ; 
NET "alu_mem_write_data_32<30>"  LOC = "U2"  ; 
NET "alu_mem_write_data_32<31>"  LOC = "T2"  ; 
NET "alu_mem_write_data_32<3>"  LOC = "V2"  ; 
NET "alu_mem_write_data_32<4>"  LOC = "R2"  ; 
NET "alu_mem_write_data_32<5>"  LOC = "P2"  ; 
NET "alu_mem_write_data_32<6>"  LOC = "U1"  ; 
NET "alu_mem_write_data_32<7>"  LOC = "T1"  ; 
NET "alu_mem_write_data_32<8>"  LOC = "R1"  ; 
NET "alu_mem_write_data_32<9>"  LOC = "P1"  ; 
NET "fetch_16"  LOC = "U6"  ; 
NET "fetch_data_32<0>"  LOC = "D18"  ; 
NET "fetch_data_32<10>"  LOC = "B18"  ; 
NET "fetch_data_32<11>"  LOC = "G17"  ; 
NET "fetch_data_32<12>"  LOC = "F17"  ; 
NET "fetch_data_32<13>"  LOC = "E17"  ; 
NET "fetch_data_32<14>"  LOC = "D17"  ; 
NET "fetch_data_32<15>"  LOC = "C17"  ; 
NET "fetch_data_32<16>"  LOC = "B17"  ; 
NET "fetch_data_32<17>"  LOC = "A17"  ; 
NET "fetch_data_32<18>"  LOC = "H16"  ; 
NET "fetch_data_32<19>"  LOC = "G16"  ; 
NET "fetch_data_32<1>"  LOC = "C18"  ; 
NET "fetch_data_32<20>"  LOC = "E16"  ; 
NET "fetch_data_32<21>"  LOC = "D16"  ; 
NET "fetch_data_32<22>"  LOC = "B16"  ; 
NET "fetch_data_32<23>"  LOC = "A16"  ; 
NET "fetch_data_32<24>"  LOC = "H15"  ; 
NET "fetch_data_32<25>"  LOC = "G15"  ; 
NET "fetch_data_32<26>"  LOC = "F15"  ; 
NET "fetch_data_32<27>"  LOC = "E15"  ; 
NET "fetch_data_32<28>"  LOC = "C15"  ; 
NET "fetch_data_32<29>"  LOC = "B15"  ; 
NET "fetch_data_32<2>"  LOC = "F16"  ; 
NET "fetch_data_32<30>"  LOC = "H14"  ; 
NET "fetch_data_32<31>"  LOC = "G14"  ; 
NET "fetch_data_32<3>"  LOC = "A15"  ; 
NET "fetch_data_32<4>"  LOC = "F14"  ; 
NET "fetch_data_32<5>"  LOC = "E14"  ; 
NET "fetch_data_32<6>"  LOC = "D14"  ; 
NET "fetch_data_32<7>"  LOC = "C14"  ; 
NET "fetch_data_32<8>"  LOC = "B14"  ; 
NET "fetch_data_32<9>"  LOC = "A14"  ; 
NET "fetch_data_valid"  LOC = "T6"  ; 
NET "fetch_flush"  LOC = "R8"  ; 
NET "fetch_op<0>"  LOC = "N24"  ; 
NET "fetch_op<1>"  LOC = "M24"  ; 
NET "fetch_pc_32<0>"  LOC = "J24"  ; 
NET "fetch_pc_32<10>"  LOC = "F24"  ; 
NET "fetch_pc_32<11>"  LOC = "E24"  ; 
NET "fetch_pc_32<12>"  LOC = "L23"  ; 
NET "fetch_pc_32<13>"  LOC = "K23"  ; 
NET "fetch_pc_32<14>"  LOC = "J23"  ; 
NET "fetch_pc_32<15>"  LOC = "H23"  ; 
NET "fetch_pc_32<16>"  LOC = "G23"  ; 
NET "fetch_pc_32<17>"  LOC = "F23"  ; 
NET "fetch_pc_32<18>"  LOC = "E23"  ; 
NET "fetch_pc_32<19>"  LOC = "N25"  ; 
NET "fetch_pc_32<1>"  LOC = "H24"  ; 
NET "fetch_pc_32<20>"  LOC = "L25"  ; 
NET "fetch_pc_32<21>"  LOC = "K25"  ; 
NET "fetch_pc_32<22>"  LOC = "J25"  ; 
NET "fetch_pc_32<23>"  LOC = "H25"  ; 
NET "fetch_pc_32<24>"  LOC = "G25"  ; 
NET "fetch_pc_32<25>"  LOC = "F25"  ; 
NET "fetch_pc_32<26>"  LOC = "E25"  ; 
NET "fetch_pc_32<27>"  LOC = "D25"  ; 
NET "fetch_pc_32<28>"  LOC = "C25"  ; 
NET "fetch_pc_32<29>"  LOC = "N26"  ; 
NET "fetch_pc_32<2>"  LOC = "M25"  ; 
NET "fetch_pc_32<30>"  LOC = "L26"  ; 
NET "fetch_pc_32<31>"  LOC = "K26"  ; 
NET "fetch_pc_32<3>"  LOC = "M26"  ; 
NET "fetch_pc_32<4>"  LOC = "H26"  ; 
NET "fetch_pc_32<5>"  LOC = "G26"  ; 
NET "fetch_pc_32<6>"  LOC = "F26"  ; 
NET "fetch_pc_32<7>"  LOC = "E26"  ; 
NET "fetch_pc_32<8>"  LOC = "D26"  ; 
NET "fetch_pc_32<9>"  LOC = "C26"  ; 
NET "gip_pipeline_flush"  LOC = "P6"  ; 
NET "leds<0>"  LOC = "D5"  ; 
NET "leds<1>"  LOC = "C5"  ; 
NET "leds<2>"  LOC = "B5"  ; 
NET "leds<3>"  LOC = "A5"  ; 
NET "leds<4>"  LOC = "C4"  ; 
NET "leds<5>"  LOC = "B4"  ; 
NET "leds<6>"  LOC = "A4"  ; 
NET "leds<7>"  LOC = "B3"  ; 
NET "postbus_rx_ack"  LOC = "R6"  ; 
NET "postbus_tx_data_32<0>"  LOC = "T22"  ; 
NET "postbus_tx_data_32<10>"  LOC = "P22"  ; 
NET "postbus_tx_data_32<11>"  LOC = "AF21"  ; 
NET "postbus_tx_data_32<12>"  LOC = "AE21"  ; 
NET "postbus_tx_data_32<13>"  LOC = "AD21"  ; 
NET "postbus_tx_data_32<14>"  LOC = "AC21"  ; 
NET "postbus_tx_data_32<15>"  LOC = "AB21"  ; 
NET "postbus_tx_data_32<16>"  LOC = "AA21"  ; 
NET "postbus_tx_data_32<17>"  LOC = "Y21"  ; 
NET "postbus_tx_data_32<18>"  LOC = "W21"  ; 
NET "postbus_tx_data_32<19>"  LOC = "V21"  ; 
NET "postbus_tx_data_32<1>"  LOC = "R22"  ; 
NET "postbus_tx_data_32<20>"  LOC = "T21"  ; 
NET "postbus_tx_data_32<21>"  LOC = "R21"  ; 
NET "postbus_tx_data_32<22>"  LOC = "P21"  ; 
NET "postbus_tx_data_32<23>"  LOC = "AC20"  ; 
NET "postbus_tx_data_32<24>"  LOC = "AB20"  ; 
NET "postbus_tx_data_32<25>"  LOC = "AA20"  ; 
NET "postbus_tx_data_32<26>"  LOC = "Y20"  ; 
NET "postbus_tx_data_32<27>"  LOC = "W20"  ; 
NET "postbus_tx_data_32<28>"  LOC = "V20"  ; 
NET "postbus_tx_data_32<29>"  LOC = "U20"  ; 
NET "postbus_tx_data_32<2>"  LOC = "U21"  ; 
NET "postbus_tx_data_32<30>"  LOC = "R20"  ; 
NET "postbus_tx_data_32<31>"  LOC = "P20"  ; 
NET "postbus_tx_data_32<3>"  LOC = "T20"  ; 
NET "postbus_tx_data_32<4>"  LOC = "AB23"  ; 
NET "postbus_tx_data_32<5>"  LOC = "AA23"  ; 
NET "postbus_tx_data_32<6>"  LOC = "Y23"  ; 
NET "postbus_tx_data_32<7>"  LOC = "W23"  ; 
NET "postbus_tx_data_32<8>"  LOC = "V23"  ; 
NET "postbus_tx_data_32<9>"  LOC = "U23"  ; 
NET "postbus_tx_type_2<0>"  LOC = "U26"  ; 
NET "postbus_tx_type_2<1>"  LOC = "T26"  ; 
NET "prefetch_address_32<0>"  LOC = "R26"  ; 
NET "prefetch_address_32<10>"  LOC = "AD25"  ; 
NET "prefetch_address_32<11>"  LOC = "AC25"  ; 
NET "prefetch_address_32<12>"  LOC = "AB25"  ; 
NET "prefetch_address_32<13>"  LOC = "AA25"  ; 
NET "prefetch_address_32<14>"  LOC = "Y25"  ; 
NET "prefetch_address_32<15>"  LOC = "W25"  ; 
NET "prefetch_address_32<16>"  LOC = "V25"  ; 
NET "prefetch_address_32<17>"  LOC = "U25"  ; 
NET "prefetch_address_32<18>"  LOC = "T25"  ; 
NET "prefetch_address_32<19>"  LOC = "R25"  ; 
NET "prefetch_address_32<1>"  LOC = "P26"  ; 
NET "prefetch_address_32<20>"  LOC = "AB24"  ; 
NET "prefetch_address_32<21>"  LOC = "AA24"  ; 
NET "prefetch_address_32<22>"  LOC = "W24"  ; 
NET "prefetch_address_32<23>"  LOC = "V24"  ; 
NET "prefetch_address_32<24>"  LOC = "U24"  ; 
NET "prefetch_address_32<25>"  LOC = "T23"  ; 
NET "prefetch_address_32<26>"  LOC = "AF22"  ; 
NET "prefetch_address_32<27>"  LOC = "AE22"  ; 
NET "prefetch_address_32<28>"  LOC = "AD22"  ; 
NET "prefetch_address_32<29>"  LOC = "AC22"  ; 
NET "prefetch_address_32<2>"  LOC = "P25"  ; 
NET "prefetch_address_32<30>"  LOC = "AA22"  ; 
NET "prefetch_address_32<31>"  LOC = "Y22"  ; 
NET "prefetch_address_32<3>"  LOC = "AB22"  ; 
NET "prefetch_address_32<4>"  LOC = "W22"  ; 
NET "prefetch_address_32<5>"  LOC = "V22"  ; 
NET "prefetch_address_32<6>"  LOC = "U22"  ; 
NET "prefetch_address_32<7>"  LOC = "R24"  ; 
NET "prefetch_address_32<8>"  LOC = "P24"  ; 
NET "prefetch_address_32<9>"  LOC = "P23"  ; 
NET "prefetch_op<0>"  LOC = "R19"  ; 
NET "prefetch_op<1>"  LOC = "P19"  ; 
NET "rfr_periph_read"  LOC = "L8"  ; 
NET "rfr_periph_read_address_5<0>"  LOC = "N7"  ; 
NET "rfr_periph_read_address_5<1>"  LOC = "M7"  ; 
NET "rfr_periph_read_address_5<2>"  LOC = "L7"  ; 
NET "rfr_periph_read_address_5<3>"  LOC = "K7"  ; 
NET "rfr_periph_read_address_5<4>"  LOC = "J7"  ; 
NET "rfr_periph_read_global"  LOC = "H7"  ; 
NET "rfw_periph_write"  LOC = "G7"  ; 
NET "rfw_periph_write_address_5<0>"  LOC = "N6"  ; 
NET "rfw_periph_write_address_5<1>"  LOC = "M6"  ; 
NET "rfw_periph_write_address_5<2>"  LOC = "L6"  ; 
NET "rfw_periph_write_address_5<3>"  LOC = "K6"  ; 
NET "rfw_periph_write_address_5<4>"  LOC = "J6"  ; 
NET "rfw_periph_write_data_32<0>"  LOC = "H6"  ; 
NET "rfw_periph_write_data_32<10>"  LOC = "F6"  ; 
NET "rfw_periph_write_data_32<11>"  LOC = "N5"  ; 
NET "rfw_periph_write_data_32<12>"  LOC = "M5"  ; 
NET "rfw_periph_write_data_32<13>"  LOC = "L5"  ; 
NET "rfw_periph_write_data_32<14>"  LOC = "K5"  ; 
NET "rfw_periph_write_data_32<15>"  LOC = "J5"  ; 
NET "rfw_periph_write_data_32<16>"  LOC = "H5"  ; 
NET "rfw_periph_write_data_32<17>"  LOC = "G5"  ; 
NET "rfw_periph_write_data_32<18>"  LOC = "F5"  ; 
NET "rfw_periph_write_data_32<19>"  LOC = "K3"  ; 
NET "rfw_periph_write_data_32<1>"  LOC = "G6"  ; 
NET "rfw_periph_write_data_32<20>"  LOC = "H3"  ; 
NET "rfw_periph_write_data_32<21>"  LOC = "L4"  ; 
NET "rfw_periph_write_data_32<22>"  LOC = "K4"  ; 
NET "rfw_periph_write_data_32<23>"  LOC = "J4"  ; 
NET "rfw_periph_write_data_32<24>"  LOC = "H4"  ; 
NET "rfw_periph_write_data_32<25>"  LOC = "G4"  ; 
NET "rfw_periph_write_data_32<26>"  LOC = "F4"  ; 
NET "rfw_periph_write_data_32<27>"  LOC = "E4"  ; 
NET "rfw_periph_write_data_32<28>"  LOC = "F3"  ; 
NET "rfw_periph_write_data_32<29>"  LOC = "E3"  ; 
NET "rfw_periph_write_data_32<2>"  LOC = "J3"  ; 
NET "rfw_periph_write_data_32<30>"  LOC = "M2"  ; 
NET "rfw_periph_write_data_32<31>"  LOC = "L2"  ; 
NET "rfw_periph_write_data_32<3>"  LOC = "N2"  ; 
NET "rfw_periph_write_data_32<4>"  LOC = "K2"  ; 
NET "rfw_periph_write_data_32<5>"  LOC = "J2"  ; 
NET "rfw_periph_write_data_32<6>"  LOC = "H2"  ; 
NET "rfw_periph_write_data_32<7>"  LOC = "G2"  ; 
NET "rfw_periph_write_data_32<8>"  LOC = "F2"  ; 
NET "rfw_periph_write_data_32<9>"  LOC = "E2"  ; 
NET "rfw_periph_write_global"  LOC = "D2"  ; 
NET "rxd"  LOC = "A6"  ; 
NET "switches<0>"  LOC = "M1"  ; 
NET "switches<1>"  LOC = "L1"  ; 
NET "switches<2>"  LOC = "K1"  ; 
NET "switches<3>"  LOC = "H1"  ; 
NET "switches<4>"  LOC = "G1"  ; 
NET "switches<5>"  LOC = "F1"  ; 
NET "switches<6>"  LOC = "E1"  ; 
NET "switches<7>"  LOC = "D1"  ; 
NET "system_clock_in"  LOC = "AD13"  ; 
NET "txd"  LOC = "A3"  ; 

#PACE: Start of PACE Area Constraints
AREA_GROUP "AG_core/alu" RANGE = SLICE_X72Y41:SLICE_X109Y2 ;
INST "core/alu" AREA_GROUP = "AG_core/alu" ;
AREA_GROUP "AG_core/decode" RANGE = SLICE_X16Y41:SLICE_X53Y4 ;
INST "core/decode" AREA_GROUP = "AG_core/decode" ;
AREA_GROUP "AG_core/memory" RANGE = SLICE_X112Y41:SLICE_X115Y38 ;
INST "core/memory" AREA_GROUP = "AG_core/memory" ;
AREA_GROUP "AG_core/postbus" RANGE = SLICE_X54Y61:SLICE_X71Y44 ;
INST "core/postbus" AREA_GROUP = "AG_core/postbus" ;
AREA_GROUP "AG_core/rf" RANGE = SLICE_X56Y41:SLICE_X69Y4 ;
INST "core/rf" AREA_GROUP = "AG_core/rf" ;
AREA_GROUP "AG_core/scheduler" RANGE = SLICE_X2Y69:SLICE_X21Y46 ;
INST "core/scheduler" AREA_GROUP = "AG_core/scheduler" ;
AREA_GROUP "AG_core/special" RANGE = SLICE_X26Y61:SLICE_X43Y44 ;
INST "core/special" AREA_GROUP = "AG_core/special" ;

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
