#NET "global_clock" TNM_NET = "global_clock"
#TIMESPEC "TS_global_clock" = PERIOD "global_clock" 40 ns HIGH 50 %
#TIMESPEC "TS_global_clock" = PERIOD "global_clock" 40 ns HIGH 50 %
#Clock CLK_FPGA_MAIN po pg 4
#UART pinout on page 3
#Switches pinout on page ?
#LEDS pinout on page 3
#Flash pinout on page 3 (ctl) 4 (addr/data) (MT28F128J, 16MB flash in schematic, Intel E28F64 on the board?)
#NET "flash_ce<0>" LOC="E4"; # pg 14
#NET "flash_ce<1>" LOC="K6"; # pg 14
#NET "flash_ce<2>" LOC="M10"; # pg 14
#NET "flash_ce<3>" LOC="N10"; # pg 14
#NET "flash_we" LOC="J6"; # pg 7, 14
#NET "flash_ce" LOC="H7"; # pg 7
#NET "flash_oe" LOC="K4"; # pg 7, 14
#NET "addr_av<0..22>" LOC=? maps to flash a1..23 ( 0:AK27 1:AH26 2:AM26 3:AH24 4:AH25 5:AM27 6:AJ25 7:AL27 8:AK25 9:AK26 10:AL24 11:AJ24 12:AF24 13:AL25 14:AM23 15:AK24 16:AJ23 17:AM24 18:AF23 19:AG23 20:AL22 21:AH23 22:AJ22 23:AL23 )
#NET "data_av<0..15>" LOC=? maps to flash d0..15 ( 0:AE12 1:AG14 2:AF12 3:AE13 4:AG13 5:AF13 6:AH13 7:AJ12 8:AL13 9:AL12 10:AG11 11:AH12 12:AJ11 13:AG12 14:AM11 15:AL11 16:AK10 17:AK11 18:AL10 19:AH10 20:AJ10 21:AL9 22:AM9 23:AJ9 24:AK9 25:AL8 26:AH9 27:AJ8 A8:AM8 A9:AM7 30:AL6 31:AM6 )
#NET "flash_rst" LOC=?
#NET "eb_address<24>"
#NET "eb_address<25>"
#NET "eb_address<26>"
#NET "eb_address<27>"
#NET "eb_address<28>"
#NET "eb_address<29>"
#NET "eb_address<30>"
#NET "eb_address<31>"
#NET "eb_address<24>"
#NET "eb_address<25>"
#NET "eb_address<26>"
#NET "eb_address<27>"
#NET "eb_address<28>"
#NET "eb_address<29>"
#NET "eb_address<30>"
#NET "eb_address<31>"
#NET "data_av<0..15>" LOC=? maps to flash d0..15 ( 0:AE12 1:AG14 2:AF12 3:AE13 4:AG13 5:AF13 6:AH13 7:AJ12 8:AL13 9:AL12 10:AG11 11:AH12 12:AJ11 13:AG12 14:AM11 15:AL11 16:AK10 17:AK11 18:AL10 19:AH10 20:AJ10 21:AL9 22:AM9 23:AJ9 24:AK9 25:AL8 26:AH9 27:AJ8 A8:AM8 A9:AM7 30:AL6 31:AM6 )

#a Placements
INST "ckgen_drm_input_clock_buffer" LOC = "BUFGMUX0P" ;
INST "ckgen_drm_clock_90_buffer" LOC = "BUFGMUX5S" ;
INST "ckgen_drm_clock_buffer" LOC = "BUFGMUX7S" ;
INST "ckgen_drm_double_clock_buffer" LOC = "BUFGMUX6P" ;
INST "ckgen_dram_input_pin_gen" LOC = "DCM_X3Y0" ;
INST "ckgen_clk_phases_gen" LOC = "DCM_X2Y0" ;
INST "ckgen_slow_logic_clock_buffer" LOC = "BUFGMUX3S" ;
INST "int_drm_clock_phase_4" LOC = "SLICE_X0Y73" ;
INST "int_drm_clock_phase_3" LOC = "SLICE_X0Y27" ;
INST "int_drm_clock_phase_2" LOC = "SLICE_X20Y0" ;
INST "int_drm_clock_phase_1" LOC = "SLICE_X50Y0" ;
INST "ddr_dram_clk_0_1" LOC = "SLICE_X0Y75" ;
INST "ddr_dram_clk_1_1" LOC = "SLICE_X0Y60" ;
INST "drm_hold_we_n" LOC = "SLICE_X0Y41" ;
INST "drm_hold_s_n_1" LOC = "SLICE_X0Y71" ;
INST "drm_hold_s_n_0" LOC = "SLICE_X0Y42" ;
INST "drm_hold_ras_n" LOC = "SLICE_X0Y68" ;
INST "drm_hold_cas_n" LOC = "SLICE_X0Y71" ;
INST "drm_hold_ba_1" LOC = "SLICE_X0Y72" ;
INST "drm_hold_ba_0" LOC = "SLICE_X0Y39" ;
INST "drm_hold_a_12" LOC = "SLICE_X0Y68" ;
INST "drm_hold_a_11" LOC = "SLICE_X0Y105" ;
INST "drm_hold_a_10" LOC = "SLICE_X0Y43" ;
INST "drm_hold_a_9" LOC = "SLICE_X0Y48" ;
INST "drm_hold_a_8" LOC = "SLICE_X0Y96" ;
INST "drm_hold_a_7" LOC = "SLICE_X0Y61" ;
INST "drm_hold_a_6" LOC = "SLICE_X0Y105" ;
INST "drm_hold_a_5" LOC = "SLICE_X0Y61" ;
INST "drm_hold_a_4" LOC = "SLICE_X0Y90" ;
INST "drm_hold_a_3" LOC = "SLICE_X0Y59" ;
INST "drm_hold_a_2" LOC = "SLICE_X0Y90" ;
INST "drm_hold_a_1" LOC = "SLICE_X0Y59" ;
INST "drm_hold_a_0" LOC = "SLICE_X0Y72" ;
INST "ckgen_int_drm_clock_phase" LOC = "SLICE_X68Y0" ;
INST "ckgen_divided_clock" LOC = "SLICE_X70Y0" ;
INST "ckgen_clock_divider_3" LOC = "SLICE_X74Y0" ;
INST "ckgen_clock_divider_2" LOC = "SLICE_X74Y0" ;
INST "ckgen_clock_divider_1" LOC = "SLICE_X72Y0" ;
INST "ckgen_clock_divider_0" LOC = "SLICE_X72Y0" ;
INST "ckgen_cke_next_will_be_last_of_logic" LOC = "SLICE_X60Y63" ;
INST "cke_last_of_logic" LOC = "SLICE_X10Y80" ;

#PACE: Start of Constraints generated by PACE
#PACE: Start of PACE I/O Pin Assignments
NET "ddr_dram_clk_0" LOC = "N27" | IOSTANDARD = SSTL2_I_DCI;
NET "ddr_dram_clk_0_n"  LOC = "P27" | IOSTANDARD = SSTL2_I_DCI;
NET "ddr_dram_clk_1"  LOC = "AF29" | IOSTANDARD = SSTL2_I_DCI;
NET "ddr_dram_clk_1_n" LOC = "AE29" | IOSTANDARD = SSTL2_I_DCI;

NET "ddr_dram_cke<0>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_cke<1>" IOSTANDARD = SSTL2_II;

NET "ddr_dram_s_n<0>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_s_n<1>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_ras_n" IOSTANDARD = SSTL2_II;
NET "ddr_dram_cas_n" IOSTANDARD = SSTL2_II;
NET "ddr_dram_we_n" IOSTANDARD = SSTL2_II;

NET "ddr_dram_ba<0>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_ba<1>" IOSTANDARD = SSTL2_II;

NET "ddr_dram_a<0>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_a<1>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_a<2>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_a<3>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_a<4>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_a<5>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_a<6>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_a<7>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_a<8>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_a<9>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_a<0>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_a<11>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_a<12>" IOSTANDARD = SSTL2_II;

NET "ddr_dram_dqm<0>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_dqm<1>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_dqm<2>" IOSTANDARD = SSTL2_II;
NET "ddr_dram_dqm<3>" IOSTANDARD = SSTL2_II;

NET "ddr_dram_dq<0>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<1>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<2>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<3>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<4>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<5>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<6>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<7>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<8>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<9>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<10>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<11>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<12>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<13>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<14>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<15>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<16>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<17>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<18>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<19>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<20>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<21>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<22>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<23>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<24>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<25>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<26>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<27>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<28>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<29>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<30>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dq<31>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dqs<0>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dqs<1>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dqs<2>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dqs<3>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dqs<4>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dqs<5>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dqs<6>" IOSTANDARD = SSTL2_II ;
NET "ddr_dram_dqs<7>" IOSTANDARD = SSTL2_II ;
#PACE: Start of PACE Area Constraints

AREA_GROUP "AG_body_apb" RANGE = SLICE_X90Y111:SLICE_X111Y76 ;
INST "body_apb" AREA_GROUP = "AG_body_apb" ;
AREA_GROUP "AG_body_boot_rom" RANGE = SLICE_X12Y65:SLICE_X61Y16 ;
INST "body_boot_rom" AREA_GROUP = "AG_body_boot_rom" ;
AREA_GROUP "AG_body_gip_data_ram" RANGE = SLICE_X10Y79:SLICE_X19Y68 ;
INST "body_gip_data_ram" AREA_GROUP = "AG_body_gip_data_ram" ;
AREA_GROUP "AG_body_gip_gip" RANGE = SLICE_X26Y125:SLICE_X81Y70 ;
INST "body_gip_gip" AREA_GROUP = "AG_body_gip_gip" ;
AREA_GROUP "AG_body_gip_gip_apb" RANGE = SLICE_X82Y89:SLICE_X89Y82 ;
INST "body_gip_gip_apb" AREA_GROUP = "AG_body_gip_gip_apb" ;
AREA_GROUP "AG_body_gip_prefetch" RANGE = SLICE_X10Y95:SLICE_X25Y80 ;
INST "body_gip_prefetch" AREA_GROUP = "AG_body_gip_prefetch" ;
AREA_GROUP "AG_body_main_ram" RANGE = SLICE_X0Y65:SLICE_X10Y95 ;
INST "body_main_ram" AREA_GROUP = "AG_body_main_ram" ;
AREA_GROUP "AG_body_prs" RANGE = SLICE_X64Y139:SLICE_X71Y128 ;
INST "body_prs" AREA_GROUP = "AG_body_prs" ;
AREA_GROUP "AG_body_rom" RANGE = SLICE_X64Y149:SLICE_X69Y142 ;
INST "body_rom" AREA_GROUP = "AG_body_rom" ;

#PACE: Start of PACE Prohibit Constraints
#PACE: End of Constraints generated by PACE
INST "ddr_dram_clk_0" TNM = "ddr_clocks_out";
INST "ddr_dram_clk_0_n" TNM = "ddr_clocks_out";
INST "ddr_dram_clk_1" TNM = "ddr_clocks_out";
INST "ddr_dram_clk_1_n" TNM = "ddr_clocks_out";
INST "ddr_dram_a<0>" TNM = "ddr_control";
INST "ddr_dram_a<1>" TNM = "ddr_control";
INST "ddr_dram_a<2>" TNM = "ddr_control";
INST "ddr_dram_a<3>" TNM = "ddr_control";
INST "ddr_dram_a<4>" TNM = "ddr_control";
INST "ddr_dram_a<5>" TNM = "ddr_control";
INST "ddr_dram_a<6>" TNM = "ddr_control";
INST "ddr_dram_a<7>" TNM = "ddr_control";
INST "ddr_dram_a<8>" TNM = "ddr_control";
INST "ddr_dram_a<9>" TNM = "ddr_control";
INST "ddr_dram_a<10>" TNM = "ddr_control";
INST "ddr_dram_a<11>" TNM = "ddr_control";
INST "ddr_dram_a<12>" TNM = "ddr_control";
INST "ddr_dram_ba<0>" TNM = "ddr_control";
INST "ddr_dram_ba<1>" TNM = "ddr_control";
INST "ddr_dram_cas_n.PAD" TNM = "ddr_control";
INST "ddr_dram_cke<0>" TNM = "ddr_control";
INST "ddr_dram_cke<1>" TNM = "ddr_control";
INST "ddr_dram_ras_n.PAD" TNM = "ddr_control";
INST "ddr_dram_s_n<0>" TNM = "ddr_control";
INST "ddr_dram_s_n<1>" TNM = "ddr_control";
INST "ddr_dram_we_n.PAD" TNM = "ddr_control";
INST "ddr_dram_dq<0>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<1>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<2>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<3>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<4>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<5>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<6>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<7>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<8>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<9>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<10>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<11>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<12>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<13>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<14>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<15>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<16>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<17>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<18>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<19>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<20>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<21>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<22>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<23>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<24>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<25>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<26>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<27>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<28>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<29>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<30>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dq<31>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dqm<0>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dqm<1>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dqm<2>" TNM = "ddr_data_and_mask";
INST "ddr_dram_dqm<3>" TNM = "ddr_data_and_mask";

TIMEGRP "ddr_data_and_mask" OFFSET = OUT 9 ns AFTER "sys_drm_clock_in"  ;
TIMEGRP "ddr_control"       OFFSET = OUT 9 ns AFTER "sys_drm_clock_in"  ;
#TIMEGRP "ddr_clocks_out"    OFFSET = OUT 6.68 ns AFTER "sys_drm_clock_in"  ;
